.main-wrapper {
    margin: 0 2%;
    margin-top: 3%;
}

.card-wrapper {
    box-shadow: 0 3px 5px -3px rgba(0, 0, 0, 0.5);
}

.animated {
    transition: all 300ms ease-in-out;
}

#header-main {
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    padding: 0.5%;
    opacity: 1;
}

.form-wrapper {
    padding: 2%;
    text-align: center;
}

#text-main {
    margin-top: 0%;
}

.username-input {
    display: block;
    text-align: left;
    padding: 0.3%;
    margin: 0 auto;
}

.text-wrapper {
    margin-top: 0%;
    margin-bottom: 24px;
    padding: 3%;
}

.button-wrapper {
    text-align: center;
    margin-top: 10px;
}

header {
    opacity: 0;
    position: fixed;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    z-index: 100000;
    padding: 0.2%;
    width: 100%;
    background-color: white;
}

header .text-header {
    padding: 0;
    font-size: 30px;
}

.table-wrapper {
    margin-top: 1%;
}

.table-body {
    display: none;
}

.table-footer {
    display: none;
}

.main-container {
    position: relative;
}

.content-wrapper {
    padding-bottom: 10rem;
    min-height: 85vh;
}

.user-exist {
    display: inline-block;
    margin-top: 10px;
    opacity: 0;
    color: #d50000;
}

.link {
    text-decoration: none;
    color: black;
}

.link:hover {
    text-decoration: underline;
    color: #3f51b5;
}

.footer-link {
    font-weight: bold;
    color: white;
}

.footer-wrapper {
    position: absolute;
    bottom: 0;
    padding: 0.5%;
    width: 99%;
    margin-bottom: 0;
    color: white;
    text-align: center;
    background-color: #212121;
}